@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand-Regular.ttf");
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("../fonts/Gilroy-Bold.woff");
}

body {
  background: #0E1A1F;
}

h1,
h2,
h3,
h3,
h5,
p {
  margin: 0;
  font-family: Quicksand;
}
